body {
    font-family     : "Lato";
    font-size       : 12px;
    line-height     : 1.42857143;
    color           : #333333;
    background-color: #f0f2f5;
    margin-top      : -20px;
}

.menu_bg_arvan {
    background: #20c5ba;
    width     : 100%;
    padding   : 30px 0px;
}

.nav {
    ul {
        margin : 0px;
        padding: 0px;

        li {
            border-radius : 6px;
            padding-top   : 11px;
            padding-bottom: 11px;
            padding-left  : 10px;
            padding-right : 10px;
            position      : relative;
            display       : inline-block;

            a {
                color             : white;
                padding-right     : 10px;
                padding-left      : 10px;
                line-height       : 25px;
                display           : block;
                font-size         : 13px;
                -webkit-transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
                transition        : color 200ms ease-in-out, border-color 200ms ease-in-out;
                cursor            : pointer;
            }
        }
    }
}

.logo {
    margin: 9px 0px;
    float : left;

    img {
        height      : 27px;
        max-width   : 110px;
        padding-left: 10px;
    }
}

.changeLang {
    a {
        background-color  : #1cafa5;
        border-radius     : 14px;
        -webkit-transition: background-color 200ms ease-in-out;
        transition        : background-color 200ms ease-in-out;
        color             : #fff;
        margin            : 4px 0px;
        font-size         : 13px;
        display           : block;
        width             : 35px;
        text-align        : center;
        float             : right;
        padding           : 10px;
    }
}

.big_title {
    margin-top   : 65px;
    margin-bottom: 3px;
    text-align   : center;
    width        : 100%;

    h1 {
        font-weight: 200;
        font       : 60px Lato;
        color      : #fff;
    }

    h2 {
        color: #f3f2f2;
        font : 20px Lato;
    }
}

.search_body {
    background           : #fff;
    width                : 60%;
    display              : block;
    margin-right         : 245px;
    height               : 60px;
    -webkit-border-radius: 2px;
    -moz-border-radius   : 2px;
    border-radius        : 2px;
    margin-top           : 33px;
    margin-block-end     : 100px;
    margin               : 33px auto;
}

.search_tx {
    text-align   : left;
    padding-top  : 0px;
    padding-left : 17px;
    font         : 14px YekanBakh;
    color        : #5BB1B1;
    border       : none;
    outline      : none;
    width        : 90%;
    border-radius: 2px;
    float        : left;
    margin-top   : 23px;
}

button.icon-search {
    background : url(./assets/img/search.png) no-repeat;
    border     : none;
    margin-top : 13px;
    width      : 30px;
    height     : 30px;
    margin-top : 22px;
    margin-left: 16px;
}

.favorits {
    width        : 100%;
    float        : right;
    background   : #fff;
    padding      : 25px;
    border       : 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow   : 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top   : 20px;

    .section {
        margin: 0px 0px 50px;
        &.fonts {
            table {
                background: none !important;
            }
    
            tr {
                float        : left;
                margin       : 0px 10px;
                background   : #f9f9f9;
                width        : 252px;
                margin-bottom: 10px;
    
                &:hover {
                    background: #efeeee;
                }
            }
        }

        &:last-child {
            margin: 0px;
        }

        .title {
            border-bottom: 1px solid #0000002e;
            margin-bottom: 20px;

            a {
                float     : right;
                position  : relative;
                margin-top: -25px;
            }

            h2 {
                font-size: 25px;
            }
        }

        table {
            width        : 100%;
            background   : #f9f9f9;
            border-radius: 10px;

            tr {
                width        : 100%;
                border-bottom: 1px solid #00000014;

                &:hover {
                    background: #efeeee;

                    th {
                        background: #34495d;
                    }
                }

                &:last-child {
                    border: none;
                }
            }

            thead {
                background   : #34495e;
                color        : #fff;
                margin-bottom: 10px;
                width        : 100%;

                tr {
                    border: none;
                }

                th {
                    font-size  : 14px;
                    font-weight: 500;
                    padding    : 10px;

                    &:first-child {
                        -webkit-border-top-left-radius: 10px;
                        -moz-border-radius-topleft    : 10px;
                        border-top-left-radius        : 10px;
                        width                         : 35%;
                    }

                    &:last-child {
                        -webkit-border-top-right-radius: 10px;
                        -moz-border-radius-topright    : 10px;
                        border-top-right-radius        : 10px;
                    }
                }
            }

            tbody {
                td {
                    padding  : 10px;
                    font-size: 15px;
                }
            }
        }
    }
}